<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head} from '@inertiajs/vue3';
import {onMounted, ref, watch} from 'vue'
import useTransactions from "@/Composables/transactions.js";

const {balance, transactions, load} = useTransactions()

const sort = ref('asc');

onMounted(() => loadData())

watch(sort, () => load(sort.value))

const loadData = async () => {
    await load(sort.value)

    setInterval(() => {
        load(sort.value)
    }, 5000)
}

</script>

<template>
    <Head title="Dashboard"/>

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Таблица баланса</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">

                    <div class="p-6 text-gray-900">Текущий баланс: {{ balance.current_balance?.amount }}</div>
                    <div class="p-5">
                        <select v-model="sort">
                            <option value="asc">По умолчанию</option>
                            <option value="desc">По убыванию</option>
                        </select>
                    </div>
                    <div class="flex flex-col p-5">
                        <div v-if="transactions"
                             v-for="transaction in transactions"
                        >
                            <div class="flex justify-between">
                                <div>{{ transaction.id }}</div>
                                <div>{{ transaction.type }}</div>
                                <div>
                                    {{ transaction.current_amount.amount }}
                                    {{ transaction.current_amount.currency }}
                                </div>
                                <div>
                                    {{ transaction.old_amount.amount }}
                                    {{ transaction.old_amount.currency }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
